@define-color rosewater #f5e0dc;
@define-color flamingo  #f2cdcd;
@define-color pink      #f5c2e7;
@define-color mauve     #cba6f7;
@define-color red       #f38ba8;
@define-color maroon    #eba0ac;
@define-color peach     #fab387;
@define-color yellow    #f9e2af;
@define-color green     #a6e3a1;
@define-color teal      #94e2d5;
@define-color sky       #89dceb;
@define-color sapphire  #74c7ec;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;

@define-color text      #cdd6f4;
@define-color subtext1  #bac2de;
@define-color overlay0  #6c7086;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;

/* GLOBAL */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  border: none;
}

/* BAR */

window#waybar {
  background: @crust;
  color: @text;
}

/* PILL BASE */

#workspaces,
#mpris,
#pulseaudio,
#network,
#cpu,
#battery,
#clock {
  background: @surface0;
  padding: 6px 14px;
  border-radius: 18px;
  margin: 6px 4px;
}

/* WORKSPACES */

#workspaces button {
  padding: 0 8px;
  border-radius: 12px;
  color: @subtext1;
  background: transparent;
}

#workspaces button.active {
  background: @blue;
  color: @base;
}

#workspaces button:hover {
  background: @surface1;
}

/* CENTER MEDIA */

#mpris {
  background: @surface0;
  color: @text;
}

/* RIGHT MODULE COLORS */

#pulseaudio {
  color: @peach;
}

#network {
  color: @sky;
}

#cpu {
  color: @teal;
}

#battery {
  color: @green;
}

#clock {
  color: @lavender;
}

#custom-hidden.active {
  color: #f38ba8;
  font-weight: bold;
}

#custom-hidden.inactive {
  opacity: 0;
}

/* TOOLTIP */

tooltip {
  background: @mantle;
  color: @text;
  border-radius: 12px;
}
